<h1>映画情報更新</h1>
<%= render 'form', movie: @movie %>
<div class="offset-md-2">
    <%= button_to '削除', [:admin, @movie], class: "btn btn-danger btn-sm", method: :delete, data: {confirm: '削除します。よろしいですか？'} %> 
</div>
