<p id="notice"><%= notice %></p>

<h1>上映情報更新</h1>

<%= render 'form', schedule: @schedule %>

<%= button_to '削除', [:admin, @schedule], method: :delete, class: "btn btn-danger btn-sm", data: {confirm: '削除します。よろしいですか？'} %> 

